{% extends "base.html" %}

{%block BODY %}
    <h1>DEAD <small>tests</small></h1>

   <div class="row">
        <div class="col-xs-6">
            <img src="{% static 'dead-common/images/test.png' %}" class="img-responsive center-block">
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation">
                            <a href="{% url 'dead-js-utilities:tests-home' %}">
                                JS Utilities
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
